@import "../variables";

.card-wrapper {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  .card {
    border-radius: 5px;
    padding: 1rem;
    display: inline-block;
    &:hover {
      outline: 2px solid $primary;
    }
    .card-body {
      text-align: right;
      h3 {
        font-weight: 500;
        font-size: 1.5rem;
        padding: 0.3rem;
      }
    }
  }
}

@media (max-width: 920px) {
  .card-wrapper {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  .card-wrapper {
    grid-template-columns: auto;
  }
}

.card-quran-wrapper {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .card-quran {
    padding: 1rem;
    border-radius: 5px;
    .card-quran-header {
      padding: 1rem;
      border-radius: 5px;
    }
    .card-quran-body {
      h1 {
        text-align: right;
        font-size: 2.1rem;
        font-weight: 500;
        padding: 2rem 0;
      }
      .line {
        border-top: 2px solid;
        margin: 1rem 0;
      }
      p {
        padding-top: 0.5rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .card-quran-wrapper {
    .card-quran {
      .card-quran-body {
        h1 {
          font-size: 1.8rem;
        }
      }
    }
  }
}
