@import "../variables";

.quran-navigation {
  height: 40px;
  padding-bottom: 60px;
  position: relative;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    &:hover {
      outline: 2px solid $primary;
    }
  }
  a.left {
    left: 0;
  }
  a.right {
    right: 0;
  }
}
