@import "../mixins";
@import "../variables";
@font-face {
  font-family: "Arab";
  src: url("assets/font/LPMQ\ IsepMisbah.ttf");
}

.light {
  @include light;
}
.dark {
  @include dark;
}
.light-color {
  color: $light;
}
.dark-color {
  color: $dark;
}
.light-bg {
  background-color: $light;
}
.dark-bg {
  background-color: $dark;
}
.light-bg-semi {
  background-color: $light-semi;
}
.dark-bg-semi {
  background-color: $dark-semi;
}
.light-shadow {
  box-shadow: 0 0 50px -20px $light;
}
.dark-shadow {
  box-shadow: 0 0 50px -20px $dark;
}
.light-border-sm {
  border: 1px solid $light;
}
.dark-border-sm {
  border: 1px solid $dark;
}
.light-border {
  border: 2px solid $light;
}
.dark-border {
  border: 2px solid $dark;
}
.text-justify {
  text-align: justify;
}
.lh-md {
  line-height: 1.3rem;
}
.lh-lg {
  line-height: 5rem;
}
.active {
  border-radius: 5px;
  box-shadow: 0 0 20px 0 $primary;
}
.bg-green {
  background-color: $primary;
}
.font-arab {
  font-family: "Arab";
}
